* {
    margin: 0;
}

button {
    border-image: none !important;
    border-color: transparent !important;
}

button:focus {
    outline: 0 !important;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #1F2733;
}

body {
    background-color: #3A435E;
    color: white;
}

#add-book {
    background-color: #53DD6C;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

#entry-form {
    display: none;
    padding: 10px;
    position: fixed;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #CED8DF;
    z-index: 9;
    color: black;
}

#entry-form-container {
    width: 350px;
    padding: 10px;
}

#entry-form-container input[type=text] {
    width: 98.9%;
    padding-bottom: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: white;
}

#entry-form-container input[type=text]:focus {
    background-color: #FAF8D4;
    outline: none;
}

#entry-form-container .submit-button {
    background-color: #53DD6C;
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

#entry-form-container .submit-button:hover {
    opacity: 1.0;
}

#cancel {
    background-color: #FF595E;
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

#entry-form-container #cancel:hover {
    opacity: 1.0;
}

p {
    margin: 0px;
    padding: 10px;
}

#library {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    flex-wrap: wrap;
}

.book-info {
    display: flex;
    flex-direction: column; 
    margin-right: 10px;
    margin-top: 10px;
    padding: 15px; 
    border: 2px solid black;
    border-radius: 10px;
    background-color: #6C6F7F;
    width: 200px
}

#checkbox {
    display: flex;
    flex-direction: row;
    align-content: flex-start
}

#complete {
    padding-right: 10px;
    padding-bottom: 10px;
}

#true {
    height: 18px;
}

.remove-book {
    background-color: #FF595E;

}

.remove-book:focus {
    border: none;
    
}

.book-read {
    background-color: #53DD6C;
}

.book-not-read {
    background-color: #FFD35C;
}